@model MVC_ComponentesCodeFirst.Models.Componente
@{
}
<td>
    @Html.DisplayFor(modelItem => Model.Descripcion)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Serie)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Precio)
</td>

<td>
    @Html.DisplayFor(modelItem => Model.Calor)
</td>