@{
    ViewData["Title"] = "Inicio";
}
<div class="contenedor-imagenes">
    <a id = "picture0" asp-area="" asp-controller="Componentes" asp-action="Index"></a>
    <a id="picture1" asp-area="" asp-controller="Ordenadores" asp-action="Index"></a>
    <a id="picture2" asp-area="" asp-controller="Pedidos" asp-action="Index"></a>
    <a id="picture3" asp-area="" asp-controller="Facturas" asp-action="Index"></a>
    <a id="picture4" asp-area="" asp-controller="Clientes" asp-action="Index"></a>
</div>