@{
    Layout = "_EmptyLayout";
}
<html>
<head>
</head>
<body>
<div class="container">
    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="images/portada.jpg" /></a>
</div>
</body>
</html>